@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
body {
    margin: 0;
    background: #111;
    /* PC에서 바깥 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Pretendard Variable", "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    -webkit-font-smoothing: antialiased;
}
p{
    margin:0;
}

/* 모바일 화면 영역 */
.main {
    width: 100%;
    max-width: 500px;
    /* 아이폰 14 기준 */
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #fff;
}

/* 고정 영역 */
header {
    height: 56px;
    flex-shrink: 0;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
}
header img{
    height: 80%;
    margin-left: 1rem;
}
footer {
    height: 56px;
    flex-shrink: 0;
    border-top: 1px solid #eee;

    padding-bottom: env(safe-area-inset-bottom);
}

/* 스크롤 영역 */
.body {
    flex: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    /* iOS 관성 스크롤 */
}
.timeBox p{
    color:#727272;
}
.top{
    margin: 1rem 1rem 0rem 1rem;
}
.location{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:2rem;
}
.location img{
    height: 1.3rem;
    cursor: pointer;
    margin-left: 1rem;
}
.location div{
    height: 1.3rem;
    margin-left: 1rem;
}

.nowWeather{
    display: flex;
    margin: 3rem 0rem 1rem;
}
.nowTop{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nowTop > div > img{
    margin-right: 1rem;
}
#nowTemp{
    font-size: 4rem;
}
.nowBottom{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.nowBottom p{
    font-size: 0.8rem;
}
.nowBottomBox{
    display: flex;
    align-items: center;
}
.itemTitle{
    width: 25%;
    text-align: right;
}
.itemCont{
    font-size: 1.2rem !important;
    font-weight: 600;
    flex: 1;
    text-align: right;
    margin-right: 0.6rem;
}
.itemDan{
    width: 25%;
}
#nowWind{
    font-size: 1.1rem !important;
}
#sigunguListBox{
    position: fixed;
    width:100%;
    max-width: 500px;
    display: none;
    background-color: rgb(229, 238, 255);
    top:10rem;
    padding: 2rem 0;
}
.sigungu-container{
    margin: 1rem;
}
.selected-path{
    text-align: center;
}
.sigungu-container button{
    background-color: rgba(255, 255, 255, 0.7);
    border:1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5rem;
    padding: 0.4rem 0.7rem;
    font-family: "Pretendard Variable", "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
#sigunguListBox > p {
    text-align: center;
}
.selectBtn{
    width:5rem;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
    background-color: white;
    padding: 0.5rem;
}
#listCloseBox{
    display: flex;
    justify-content: flex-end;
}
#listCloseBox img{
    height: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
}
.warningBox{
    display: flex;
}
.warningBox span{
    margin-right: 1rem;
}
.body-loading {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    height: 100vh;
}
.body-loading.hidden {
    display: none;
}

.loading-box {
    padding: 16px 24px;
    background: white;
    border-radius: 12px;
    font-size: 14px;
}